{% extends "base.html" %}
{% block title %} My account {% endblock %}
{% block content %}
<div class="row">
    <h1>Personal details</h1>
    <div class="row col-lg-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center" title="Username"><i class="bi bi-person fs-4 pe-3"></i>{{ userAccount.username }}</li>
            <li class="list-group-item d-flex align-items-center" title="Email"><i class="bi bi-envelope fs-4 pe-3"></i>{{ userAccount.email }}</li>
            <li class="list-group-item d-flex align-items-center" title="Address"><i class="bi bi-map fs-4 pe-3"></i>{{ userAccount.address.postalcode }} {{ userAccount.address.city }}, {{userAccount.address.street }}</li>
            <li class="list-group-item d-flex align-items-center" title="Phone number"><i class="bi bi-telephone fs-4 pe-3"></i>{{ userAccount.phone_number }}</li>
        </ul>
    </div>
    <div class="row pt-4">
        <h1>My rentals</h1>
        <div class="row pt-4 justify-content-center">
            <p class="text-center fs-3 pb-4">Current rentals</p>
            <table class="table table-striped table-hover w-auto">
                <thead>
                    <tr>
                        <th>Numberplate</th>
                        <th>Rent duration (days)</th>
                        <th>Address</th>
                        <th>Phone number</th>
                        <th>Price / day</th>
                        <th>Start date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="main">
                    {% for rent in rentals_list %}
                    <tr>
                        <td>{{numberplates[loop.index0]}}</td>
                        <td>{{rent.rentduration}}</td>
                        <td>{{rent.renteraddress}}</td>
                        <td>{{rent.renterphonenum}}</td>
                        <td>{{rent.rentprice}}</td>
                        <td>{{rent.rentstart}}</td>
                        <td>{{rent.rentstatus}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
