{% extends "base.html" %}
{% block title %} All cars {% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

<div class="row justify-content-center">
    <div class="col-lg-3 col-sm-8 my-4">
        <form action="{{ url_for('main.cars') }}" method="get">
            <div class="input-group">
                <input type="number" name="cid" class="form-control" placeholder="Car ID" required>
                <button class="btn btn-outline-light" type="submit">Show</button>
            </div>
        </form>
    </div>
    <div class="col-auto my-4">
        <a href="/car/view_cars" class="btn btn-outline-info" target="_blank">All cars (JSON)</a>
    </div>
</div>

<div class="table-responsive row justify-content-center">
    <table class="table table-striped table-bordered table-hover mb-4 w-auto">
        <thead>
            <tr>
                <th>ID</th>
                {% for item in values %}
                <th>{{ item.carid }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Numberplate</th>
                {% for item in values %}
                <td>{{ item.numberplate }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Rentable</th>
                {% for item in values %}
                <td>{{ item.rentable }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Price</th>
                {% for item in values %}
                <td>{{ item.price }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Manufacturer</th>
                {% for item in values %}
                <td>{{ item.manufacturer }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Model</th>
                {% for item in values %}
                <td>{{ item.model }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Color</th>
                {% for item in values %}
                <td>{{ item.color }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Seats</th>
                {% for item in values %}
                <td>{{ item.seats }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Interior</th>
                {% for item in values %}
                <td>{{ item.interior }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>BodyType</th>
                {% for item in values %}
                <td>{{ item.bodytype }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Gearbox</th>
                {% for item in values %}
                <td>{{ item.gearbox }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Doors</th>
                {% for item in values %}
                <td>{{ item.doors }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Fueltype</th>
                {% for item in values %}
                <td>{{ item.fueltype }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Topspeed</th>
                {% for item in values %}
                <td>{{ item.topspeed }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Power</th>
                {% for item in values %}
                <td>{{ item.power }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Milage</th>
                {% for item in values %}
                <td>{{ item.kmcount }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>EngineType</th>
                {% for item in values %}
                <td>{{ item.enginetype }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Extras</th>
                {% for item in values %}
                <td>{{ item.extras }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
