{% extends "base.html" %}
{% block title %} All cars {% endblock %}
{% block content %}

<div class="row justify-content-center my-5">
    <div class="col-lg-6 col-sm-6">
        <form action="{{ url_for('main.cars') }}" method="get">
            <div class="input-group">
                <select class="form-select" name="type">
                    <option>Numberplate</option>
                    <option>Manufacturer</option>
                    <option>Model</option>
                    <option>Color</option>
                    <option>Price (Maximum)</option>
                    <option>Price (Minimum)</option>
                    <option>Mileage (Maximum)</option>
                    <option>Mileage (Minimum)</option>
                </select>
                <input type="text" name="cid" class="form-control" placeholder="filter by this value" required>
                <button class="btn btn-outline-light" type="submit">Show</button>
                <a href="{{ url_for('main.cars') }}" class="btn btn-outline-light">Reset</a>
            </div>
        </form>
    </div>
</div>

    {% for row_items in cars_list|batch(4) %}
<div class="row row-cols-1 row-cols-md-4 pb-4">
    {% for car in row_items %}
    <div class="col">
        <div class="card h-100 text-bg-light">
            {% set url = "/images/" + car.image_url %}
            <img src="{{ url_for('static', filename=url) }}" class="card-img-top" alt="Car image">
            <div class="card-body">
                <h5 class="card-title">{{ car.manufacturer }} {{ car.model }} - {{ car.year }}</h5>
                <p class="card-text">{{ car.numberplate }}</p>
                <p class="card-text">{{ car.color }} with {{ car.interior }} interior</p>
                <p class="card-text">Extras: {{ car.extras }}</p>
                <p class="card-text">Mileage: {{ car.kmcount | thousands_separator }} km</p>
                <p class="card-text">{{ car.enginetype }}, {{ car.power }} HP {{ car.fueltype }} engine </p>
            </div>
            <div class="row text-center align-items-center g-0 pb-2">
                <div class="col-md-4 separator">
                    <i class="bi bi-people fs-4 d-block"></i>
                    <p class="card-text mb-0">{{ car.seats }}</p>
                </div>
                <div class="col-md-4 separator">
                    <i class="bi bi-speedometer2 fs-4 d-block"></i>
                    <p class="card-text mb-0">{{ car.topspeed }} km/h</p>
                </div>
                <div class="col-md-4">
                    <i class="bi bi-cash fs-4 d-block"></i>
                    <p class="card-text mb-0">${{ car.price }}/day</p>
                </div>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-secondary btn-sm rent-btn w-100" data-bs-toggle="modal" data-bs-target="#rentModal" data-carid="{{ car.carid }}">Rent</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    {% endfor %}

{# Renting modal #}
<div class="modal fade" id="rentModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rentModalLabel">Rental details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="rentForm" method="POST">
                <div class="modal-body">
                    <input type="hidden" id="carid" name="carid">
                    <div class="mb-3">
                        <label for="rentstart" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="rentstart" name="rentstart" required>
                    </div>
                    <div class="mb-3">
                        <label for="rentduration" class="form-label">Rental Duration (days)</label>
                        <input type="number" min="1" class="form-control" id="rentduration" name="rentduration" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Send request</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const rentForm = document.getElementById('rentForm');
    document.querySelectorAll('.rent-btn').forEach(btn => {
        btn.addEventListener('click', function () {
            const carid = this.dataset.carid;
            document.getElementById('carid').value = carid;
            rentForm.action = `/rental/rent/${carid}`;
        });
    });
</script>

{% endblock %}
