{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block content %}
<div class="container">
    <div class="row pt-4">
        {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
        {% for category, msg in messages %}
        {% set icon_type =
        "check-circle" if category == "success"
        else "info-circle" if category == "info"
        else "exclamation-circle" if category == "warning"
        else "exclamation-triangle" if category == "danger"
        %}
        <div class="alert alert-{{ category }} d-flex alert-dismissible fade show col-sm-8 col-lg-4">
            <i class="bi bi-{{ icon_type }} pe-2"></i>
            <div>
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1>Home page</h1>
        {% if user == "None" %}
        <p class="pt-2">You're not signed in.</p>
        {% else %}
        <p class="pt-2">You're signed in as: {{ user }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}