{% extends "base.html" %}
{% block title %} Kezdőlap {% endblock %}
{% block content %}
<div class="container">
    <div class="row pt-4">
        {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for category, msg in messages %}
                {% set icon_type =
                "check-circle" if category == "success"
                else "info-circle" if category == "info"
            %}
        <div class="alert alert-{{ category }} d-flex alert-dismissible fade show col-sm-8 col-lg-4" role="alert">
            <i class="bi bi-{{ icon_type }} pe-2"></i>
            <div>
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="pt-2">Kezdőlap</h1>
        {% if user == "None" %}
        <p>Nem vagy bejelentkezve.</p>
        {% else %}
        <p>Bejelentkezve mint: {{ user }}</p>
        {% endif %}
    </div>
</div>
    {% endblock %}