{% extends "base.html" %}
{% block title %}Regisztráció{% endblock %}
{% block content %}

<div class="container text-center mt-4">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<div class="row justify-content-center">
        <form action="{{ url_for('main.register') }}" method="post" class="row col-sm-10 col-md-8 col-lg-5">
            
            <!--Felhasználónév, jelszó-->
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Felhasználónév" required>
                    <label for="username">Felhasználónév</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Jelszó" required>
                    <label for="password">Jelszó</label>
                </div>
            </div>
            
            <!--Email, telefonszám-->
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                    <label for="email">Email cím</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="phone_number" placeholder="Telefonszám" required>
                    <label for="phone_number">Telefonszám</label>
                </div>
            </div>

            <!--Irányítószám, város-->
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="postalcode" placeholder="Irányítószám" required>
                    <label for="postalcode">Irányítószám</label>
                </div>
            </div>
            <div class="col-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="city" placeholder="Város" required>
                    <label for="city">Város</label>
                </div>
            </div>

            <!--Utca, házszám-->
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="street" placeholder="Utca, házszám" required>
                    <label for="street">Utca, házszám</label>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-block my-2">
                <button class="btn btn-primary" type="submit">Regisztráció</button>
            </div>
        </form>
	
    </div> <!--row-->
</div> <!--container-->
{% endblock %}
