{% extends "base.html" %}
{% block title %} Rentals {% endblock %}
{% block content %}

<div class="row pt-4 justify-content-center">
    <p class="text-center fs-3 pb-4">Current rentals</p>
    <table class="table table-striped table-hover w-auto">
        <thead>
            <tr>
                <th>Rental</th>
                <th>Numberplate</th>
                <th>Username</th>
                <th>Length</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Price</th>
                <th>Start date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if rentals %}
            {% for rental in rentals %}
            <tr>
                <td>#{{ rental.rentalid }}</td>
                <td>{{numberplates[loop.index0]}}</td>
                <td>{{usernames[loop.index0]}}</td>
                <td>{{ rental.rentduration }} days</td>
                <td>{{ rental.renteraddress }}</td>
                <td>{{ rental.renterphonenum }}</td>
                <td>{{ rental.rentprice }}</td>
                <td>{{ rental.rentstart[:10] }}</td>
                <td>{{ rental.rentstatus }}</td>
                <td>
                    {% if rental.rentstatus == "Pending" %}
                    <form action="{{ url_for('main.rentals.approve_rental_form', rentalid=rental.rentalid) }}" method="post">
                        <button class="btn btn-success btn-sm approve-btn" data-carid="{{ rental.carid }}" data-renterid="{{ rental.renterid }}">Approve</button>
                    </form>
                    {% endif %}
                    {% if rental.rentstatus == "Rented" %}
                    <form action="{{ url_for('main.rentals.stop_rental_form', rentalid=rental.rentalid) }}" method="post">
                        <button class="btn btn-danger btn-sm stop-btn" data-carid="{{ rental.carid }}" data-renterid="{{ rental.renterid }}">Stop</button>
                    </form>
                    {% endif %}
                    {% if rental.rentstatus == "Returned" %}
                    <form action="{{ url_for('main.rentals.delete_rental_form', rentalid=rental.rentalid) }}" method="post">
                        <button class="btn btn-danger btn-sm delete-btn" data-carid="{{ rental.carid }}" data-renterid="{{ rental.renterid }}">Delete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="9">
                    <p class="text-center text-muted my-3">There are no pending or active rentals to display.</p>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}