{% extends "base.html" %}
{% block title %}View all users{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

<script>
view_rentals();
function view_rentals()
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        {
            createRentalTable(xmlHttp.responseText);
        }
    }
    xmlHttp.open("GET", "/rental/view_rentals_user", true); // true for asynchronous 
    xmlHttp.send(null);
}

function createRentalTable(data) {
const obj = JSON.parse(data);
    for (var car of obj)
    {
        let row = `
            <tr>
                <td>${car.carid}</td>
                <td>${car.rentduration}</td>
                <td>${car.renteraddress}</td>
                <td>${car.renterphonenum}</td>
                <td>${car.rentprice}</td>
                <td>${car.rentstart}</td>
                <td>${car.rentstatus}</td>
            </tr>`;

        //let row = `<div class="card">
        //<h5>${car.carid}</h5>
        //</div>`;
        document.getElementById('main').innerHTML += row;
    }

}

</script>

<div class="row pt-4 justify-content-center">
    <p class="text-center fs-3 pb-4">Current rentals</p>
    <table class="table table-striped table-hover w-auto">
        <thead>
            <tr>
                <th>Numberplate</th>
                <th>Rent duration (days)</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Price / day</th>
                <th>Start date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="main">
        </tbody>
    </table>
</div>

{% endblock %}
