{% extends "base.html" %}
{% block title %}View all users{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% for item in values %}
    <p>
        Id: {{item.id}},
        Name: {{item.username}},
        Email: {{item.email}},
        Address: {{item.address.city}}, {{item.address.street}}, {{item.address.postalcode}},
        Phone number: {{item.phone_number}}
    </p>
	{% endfor %}
{% endblock %}
